
@{
    ViewData["Title"] = "Index";
}

<a href="http://localhost:30042/DVD" class="btn btn-lg btn-secondary fw-bold border-blue bg-lightblue">Movie Rentals</a>
<img src="/Images/pngwinglogo.png" />


